meta(charset='UTF-8')
meta(name="viewport" content="width=device-width, initial-scale=1.0")
title Foro MakerLab
link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css')
link(rel='stylesheet', type='text/css', href='assets/css/elegant.css')
link(href='https://fonts.googleapis.com/css?family=Raleway:400,100,300,600,500,700,800,900' rel='stylesheet' type='text/css')


